/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
                                
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
 }
 button:hover {
 opacity:1;
 }
 input.topButtons {
 width: 90px;
 padding: 10px;
 cursor: pointer;
 font-weight: 500;
 font-size: 90%;
 background: #0000ff;
 color: #fff;
 float: right;                  
 
 margin: 10px 10px 0px 0px;
 font-family: Arial, Helvetica, sans-serif;
 }
 
 .logo-title {
 font-family: 'Satisfy', cursive;
 font-size: 50px;
 color: #112fb4;
 margin: auto;
 text-decoration: none;
 margin: 10px 10px 0px 10px;    
 }
 h1{
    text-align: center;
    font-family: 'Abel', sans-serif;
 }
 .post{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
    }
 
    input.post{
       width: 100px;
 padding: 10px;
 
 /* height:20px;   */
     /* margin: -20px -50px;  */
      position: relative;; 
     top:40%; 
     left:40%;
 font-weight: 500;
 font-size: 70%;
 background: rgb(128, 47, 0);
 color: #fff;
 float: center;                   
 margin: 200px 10px 200px 10px;
 font-family: Arial, Helvetica, sans-serif;
    }

    

.modal-header button{
   
    float: right;
}
span{
    font-size: 50px; 
}
.modal-body p{
    text-align: center;
}
.signinbutton{
    
    
    cursor: pointer;
    float: right;
    color: white;
   
    font-size: 18px;
    height: 50px;
    margin: 10px 5px;
    width: 100px;
    background-color: blue;
}
.modal-dialog {
    height:600px ;
width: 360px;

}
.modal-dialog{
    color: black;
} 
   
.modal-title{
    text-align: center;
}
